/*
List of classes and id´s that probably won´t be used:
- inputbox
*/

body{
    background-color: #ffffff;
    background-color: #13F6E9;
}

#container{
    width: 100%;
    height: 100%;
    margin: auto;
    float:left;
    background-color: #13F6E9;
}


#title_box{
    width: 1400px;
    height: 50px;
    float:left;
}

#alphabet_box{
    width: 800px;
    height: 135px;
    float: left;
    margin-left: 330px;
    margin-top: 30px;
}

#information_box{
    width: 30%;
    height: 260px;
    float: left;
    margin-top: 40px;
}

#hangman_box{
    width: 69%;
    height: 260px;
    float: left;
    margin-top: 40px;
}

#hang_1{
    width: 10px;
    height: 240px;
    margin-left:200px;
    margin-top:20px;
    float:left;
}

#hang_2{
    width: 260px;
    height: 10px;
    margin-top:20px;
    float:left;
}

#hang_3{
    width: 10px;
    height: 41px;
    position: absolute;
    left: 904px;
    top: 283px;
}

#hang_4{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position:absolute;
    left: 889px;
    top: 323px;
}

#hang_5{
    width: 40px;
    height: 90px;
    position:absolute;
    left: 890px;
    top: 363px;
}

#hang_6{
    width: 40px;
    height: 15px;
    position: absolute;
    left: 850px;
    top: 363px;
}

#hang_7{
    width: 40px;
    height: 15px;
    position:absolute;
    right: 470px;
    top: 363px;
}

#hang_8{
    width: 15px;
    height: 50px;
    position:absolute;
    right: 535px;
    top: 450px;
}

#hang_9{
    width: 15px;
    height: 50px;
    position:absolute;
    right: 510px;
    top: 450px;
}

#reset{
    position: absolute;
    top: 90%;
    left: 45.5%;
}

#guess_box{
    width: 1000px;
    height: 80px;
    float: left;
    margin-top: 50px;
    margin-left: 320px;
}

#button_box{
    width: 100%;
    height: 130px;
    float:left;
    margin-top: 10px;
}

.alphabet{
    width: 50px;
    height: 50px;
    float:left;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 16px;
    font-family: Georgia, serif;
    background-color: #338AFF;
}


.used{
    float: left;
    margin: 4px;
}

.guess{
    width: 50px;
    height: 50px;
    float:left;
    margin-left: 10px;
    margin-top: 10px;
    border-color: #000000;
    border-bottom: 5px solid;
}

.center{
    text-align: center;
    color: #000000;
}

.black{
    background-color: #000000;
}

.button{
    margin-top: 5px;
    background-color: #338AFF; /* Green */
    border: none;
    color: #ffffff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 16px;
}